* {
	box-sizing: border-box;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	padding: 0;
	margin: 0;
	background-size: contain;

}

img {
	max-width: 100%;
}

.container {
	max-width: 1140px;
}

body{
	max-width: 100%;
	padding: 0;
	margin: 0;
	background: #fafafa;
	min-width: 480px;
}

.section-1 {
	padding-bottom: 100px;
	background: #fafafa;
}

.toplabel {
	color: blue;
	font-size: 13px;
	font-weight: bold;
	display: inline-block;
}

.toplabel-1 {
	color: blue;
	font-size: 13px;
	font-weight: bold;
	display: inline-block;
}

.select-1 {	
	color: #A9A9A9;
	font-size: 13px;
	display: inline;
}

.sign-in {
	font-weight: bold;
	padding-right: 5px;
	color: #809124;
	font-size: 14px;
	display: inline;
}

.hide-ad-1 {
	display: none;
}

/* Style the search field */
form.example input[type=text] {
	padding: 10px;
	font-size: 15px;
	color: #000;
	border: 1px solid #E6E6FA;
	float: left;
	width: 50%;
	background: #fff;
	font-weight: bold;
}
form.example select{
	font-size: 15px;
	border: 1px solid #E6E6FA;
	float: left;
	width: 40%;
	background: #fff;
	font-weight: bold;
	padding: 11px;
}
/* Style the submit button */
form.example button {
	float: left;
	width: 10%;
	padding: 9px;
	background: #809124;
	color: white;
	font-size: 17px;
	border: 1px solid #E6E6FA;
	border-left: none; /* Prevent double borders */
	cursor: pointer;

}

::placeholder { color: #000; }

/* Clear floats */
form.example::after {
	content: "";
	clear: both;
	display: table;
}

.label-1 {	
	margin: 0 auto;
	font-size: 13px;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 0px;
	margin-left: 0px;
}

.icons {

	height: 30px;
}

.dropdown-item{
	font-size: 13px;
	color: #A9A9A9;
}

.dropdown {
	font-size: 11px;
	color: #A9A9A9;
}

.droptel {
	color: blue;
}

.droptel-1 {
	color: blue;
	font-weight: bold;
}

.bg-nav-1 {
	background: #809124; 	
}

.text-tr {    
	font-size: 15px;
	display: inline-block;
}

.collapse-text {
	font-weight: bold;
	font-size: 13px;
	color: #A9A9A9;
}

.mar-r {
	margin-right: 20px;
	padding-left: 0px;
	margin-left: 0px;
	text-align: left;

}

.pad-l {
	padding-left: 20px;
}

.navbar {
	min-height: 60px;
}

.navbar-color {
	background: #344da5;
}
.navbar-nav {
	display:table;
	width:100%;
	margin: 0;
}
.navbar-nav > li {
	float:none;
	display:table-cell;
	text-align:center;
}

.slide {
	height: 300px;
}

.bg-btn {
	background: #809124; 
	width: 200px;
	position: absolute; right: 458px; bottom: 43px;
	text-transform: none;
	font-weight: bold;
}

.bg-btn:hover {
	background: #344da5;
	color: white;
}

.back-col {
	background: #DCDCDC;
	width: 100%;
}

.back-ad-1 {
	width: 410px;
	background: #efefef;
	float: left;
	height: 250px;
}

.back-ad-2 {	
	background: #f5e7da;
	float: right;
	height: 250px;
	width: 410px;
}

.div-slide {
	width: 50%;
	float: left;
}

.img-slide-1 {
	padding-top: 15px;
}

.img-slide-2 {
	padding-top: 10px;
	padding-left: 10px;
	width:180px;
}

.font-slide {
	font-size: 28px;
	font-weight: bold;
	text-indent: 0em;
	line-height : 30px;
	padding-top: 40px;
}

.btn-slide {
	width: 160px;
	margin-top: 30px;
	background: #809124;
	font-size: 13px;
	height: 35px;
	padding-bottom: 30px;
	text-transform: none;
	font-weight: bold;	
}

.btn-slide:hover {
	background: #344da5;
	color: white;
}

.section-2 {
	padding-top: 80px;
	background: #f4f4f4;
	padding-bottom: 200px;
}

.triangle-down-1 {

	position: absolute;
	bottom: -340px;
	left: 645px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 40px 30px 0 30px;
	border-color: #fafafa transparent transparent transparent;

}


.triangle-down-2 {

	position: absolute;
	bottom: -280px;
	left: 645px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 40px 30px 0 30px;
	border-color: #fafafa transparent transparent transparent;

}

.triangle-down-3 {

	position: absolute;
	top: 2143px;
	left: 645px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 40px 30px 0 30px;
	border-color: #f4f4f4 transparent transparent transparent;

}

.triangle-down-4 {

	position: absolute;
	top: 2693px;
	left: 645px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 40px 30px 0 30px;
	border-color: #fafafa transparent transparent transparent;

}

h2.h2-1 {
	text-align: center;
	font-size: 28px;
	font-weight: bold;
	text-transform: uppercase;
	color: #809124;


}	
span.h2-2 {
	text-align: center;
	font-size: 28px;
	font-weight: bold;
	text-transform: uppercase;
	color: black;
}	

.wish {
	text-align: left;
	float: left;
	padding-left: 10px;
	padding-top: 10px;
	width: 35px;
}

.hp {
	text-align: center;
	margin: 0 auto;
	padding-bottom: 30px;	
}

.h6 {
	font-size: 14px;
	font-weight: bold;
	font-weight: 700;
	padding-bottom: 10px;
}

.h7 {
	font-size: 14px;   
}

.h8 {
	font-size: 20px;
	font-weight: bold;
	color: #809124;
}

.line{
	color: red;
	text-decoration: line-through;
}

span.h9{	
	color: #A9A9A9;
	font-size: 16px;
	display: inline;	
}

.btn-buy {
	text-align: center;
	margin: 0 auto;
	max-width: 160px;
	background: #809124;
	font-size: 13px;
	max-height: 35px;
	margin-top: 0px;
	padding-bottom: 30px;
	margin-bottom: 0px;
	text-transform: none;
	font-weight: bold;	
	text-transform: uppercase;
}

a.btn-buy:hover {
	background: #344da5;
	color: white;
}

.section-3 {
	height: 250px;
	background-color: #344da5;
	color: white;
	width: 100%;
	padding-top: 10px;
}

.part {
	padding-top: 30px;
	width: 20%;
	float: left;	
}

.part-1 {
	padding-top: 65px;
	width: 20%;
	float: left;
}

.part-text {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;	
}

.part-text:hover {
	text-decoration: underline;
}

.collapse-text-1 {
	font-size: 12px;	
}

.collapse-text-1:hover {
	text-decoration: underline;
}

.img-p {	
	padding-bottom: 12px;
}

.text-tel {
	font-size: 13px;
	color: white;
}

.text-tel:hover {
	font-size: 13px;
	color: white;
}

footer {
	padding-top: 10px;
	text-align: center;
	font-size: 12px;	
	color: white;
	height: 40px;
	background: #809124;
}

/*CARD*/
.nav-vis{
	overflow:hidden;
}

.fa-right {
	text-align: right;
	float: right;
	margin-left: 40px;
}

.size-link {	
	margin-top: 50px;
	padding-top: 50px;
	color: #A9A9A9;
	font-size: 13px;
	display: inline;
}

.size-link-1 {
	font-size: 13px;
	font-weight: bold;
	text-decoration: underline;

}

.size-link-1:hover {
	text-decoration: underline;
}

.num-note {
	padding-top: 2px;
	padding-bottom: 2px;
	background: #000;
	color: white;
	font-size: 13px;
	text-align: center;
}

.hp-size {
	width: 65px;
	height: 65px;
	background: #fff;
	text-align: center;
	padding-top: 15px;
	margin-bottom: 20px;	
}

.hp-size-active {
	border: 1px solid #809124;
}


.hp-size:hover {
	border: 1px solid #809124;
}

.hp-card-size {
	width: 450px;
	height: 450px;	
	padding-top: 90px;
	background: #fff;
	text-align: center;
}

.back-card {
	background: #fff;
}
.all-size {
	padding-left: 20px;
	padding-top: 30px;
	font-weight: bold;
	font-size: 16px;
}

.align-img {
	text-align: right;
	float: right;
	padding-right: 20px;
}

.price-div-1 {
	padding-top: 8px;
	margin-top: 30px;
	width: 190px;
	height: 50px;
	border: 1px solid #A9A9A9;
	margin-left: 30px;
	margin-right: 5px;
	text-align: justify;	
	padding-left: 15px;
}

.price-div-2 {
	margin-top: 30px;
	width: 120px;
	height: 50px;
	margin-right: 5px;
	text-align: center;
	background: #809124;

}

.price-size {
	font-weight: bold;
	color: #fff;
	font-size: 14px;
	padding-left: 5px;
}

.price-div-3 {	
	padding-top: 10px;
	margin-top: 30px;
	width: 190px;
	height: 50px;
	border: 1px solid #A9A9A9;	
	margin-right: 20px;
	text-align: center;
}

.h7-card {
	font-size: 14px;
	font-weight: bold;   
}

.h8-card {
	padding-top: 10px;
	font-size: 20px;
	font-weight: bold;
	color: #809124;
}

.line-card{	
	color: red;
	text-decoration: line-through;
}

span.h9-card{	
	position: relative;
	top: -10px;	
	color: #A9A9A9;
	font-size: 12px;
	display: inline;	
}

.h6-card {	
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 10px;
}

.price-3-size {	
	position: relative;
	padding-top: 10px;
	text-align: justify;
	font-size: 12px;
	font-weight: bold;
	margin-left: 7px;
}

.description-1 {
	font-family: Arial, black, sans-serif;
	margin-top: 10px;
	margin-left: 15px;
	margin-right: 15px;	
	max-width: 510px;	
	background: #f4f4f4;
	padding-left: 20px;
	font-size: 12px;
	color: black;
	padding-top: 5px;
	padding-bottom: 5px;	
}

.hide-2 {
	display: none;
}

.tab-pad {
	padding-bottom: 35px;
}

.tab-back {
	background: #f4f4f4;
	color: black;
}

.section-1c {
	padding-bottom: 30px;
	background: #fafafa;
}

.section-2c {
	padding-top: 50px;
	background: #f4f4f4;
	padding-bottom: 70px;
}

h2.h2-1c {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #809124;


}	
span.h2-2c {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: black;
}	

h2.h2-2c {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: black;
}

.description-1c {
	margin-top: 10px;	
	font-size: 14px;
	color: black;
	padding-top: 5px;
	padding-bottom: 5px;	
	font-family: Arial, black, sans-serif;
}

.tab-back-2 {
	background: #fff;
}

.table-pad{
	padding-top: 30px;
}

table {

	border-collapse: collapse;
	width: 95%;
	border: 1px solid #f4f4f4;
	margin: 0 auto;
	color: blue;
}

table th {
	padding-left: 20px;
	color: black;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 13px;
	width: 30%;
	border: 1px solid #f4f4f4;
	font-family: 'PT Sans Caption', black, sans-serif;
	font-weight: bold;  

}

table td {
	padding-top: 10px;
	padding-bottom: 10px;	
	font-size: 13px;
	border: 1px solid #f4f4f4;
	text-align: left;
	padding-left: 30px;
	font-family: 'PT Sans Caption', sans-serif;
}

table tbody tr:nth-child(5) {
	color: #000;
}

.tab-back-3 {
	background: #e4e4e4;
}

.section-3c {
	padding-top: 50px;
	padding-bottom: 70px;
	background: #fafafa;
}

h2.h2-3c {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: black;
}

.section-4c {
	padding-top: 50px;
	padding-bottom: 120px;
	background: #f4f4f4;
}

h2.h2-3c {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: black;
}		


.navbar-toggler {
	/*background-color: transparent;*/
	border: 0px;
	z-index:100000;//Add this property
}

.collapsing
{
	position: absolute !important;
	z-index: 20;
	width: 270px;

}
.collapse.in {
	display: block;
	position: absolute;
	z-index: 20;
	width: 270px;

}
.navbar-collapse
{
	max-height: none !important;
}

.back-collapse {
	background: #fff;
}

.fa-abs-left-1 {
	position: absolute;
	top: 2420px;
	left: 70px;
}

.fa-abs-left-2 {
	position: absolute;
	top: 2975px;
	left: 70px;
}

.fa-abs-right-1 {
	position: absolute;
	top: 2420px;
	right: 70px;
}

.fa-abs-right-2 {
	position: absolute;
	top: 2975px;
	right: 70px;
}

.hiden-2 {
		display: none;
	}

@media only screen and (max-width: 1201px) {

	.container {
		max-width: 1000px;
	}

	.display {
		display: none;	
	}

	.triangle-down-2 {
		display: none;
	}

	.triangle-down-3 {
		display: none;
	}

	.triangle-down-4 {
		display: none;
	}

	.fa-angle-left {
		display: none;
	}

	.fa-angle-right {
		display: none;
	}

	.line {
		display: none;
	}

	.h9 {
		display: none;
	}

	.fa-right {
		display: none;
	}	

	.num-note {
		font-size: 11px;
	}

	form.example input[type=text] {
		font-size: 13px;
	}

	form.example select{	
		font-size: 13px;	
	}

	.back-ad-1 {
		width: 360px;
		background: #efefef;
		float: left;
		height: 250px;
	}

	.back-ad-2 {	
		background: #f5e7da;
		float: right;
		height: 250px;
		width: 360px;
	}

	.img-slide-1 {
		padding-top: 30px;
	}

	.img-slide-2 {
		padding-top: 10px;
		padding-left: 10px;	
	}

	.font-slide {
		font-size: 24px;
		font-weight: bold;
		text-indent: 0em;
		line-height : 30px;
		padding-top: 40px;
	}

	.btn-slide {
		width: 150px;
		margin-top: 20px;
		background: #809124;
		font-size: 13px;
		height: 35px;
		padding-bottom: 30px;
		text-transform: none;
		font-weight: bold;	
	}

	.bg-btn {
		background: #809124; 
		width: 180px;
		height: 45px;
		position: absolute; right: 395px; bottom: 33px;
		text-transform: none;
		font-weight: bold;
	}

	.slide {
		height: 263px;
	}

	.hp-card-size {
		width: 360px;
		height: 450px;	
		padding-top: 90px;
		background: #fff;
		text-align: center;
	}

	.price-div-1 {
		width: 240px;
	}

	.price-div-2 {
		margin-left: 15px;	
		width: 180px;
		padding-top: 2px;
	}

	.price-size {	
		font-size: 16px;
	}

	.price-div-3 {	
		margin-left: 30px;	
		width: 440px;	
	}

	.h7-card {
		margin-left: 15px;
		font-size: 16px;
		font-weight: bold;   
	}

	.h8-card {
		padding-top: 10px;
		font-size: 20px;
		font-weight: bold;
		color: #809124;
	}

	span.h9-card{	
		position: relative;
		top: -10px;	
		color: #A9A9A9;
		font-size: 13px;
		display: inline;	
	}

	.h6-card {	
		font-size: 14px;
		font-weight: bold;
		padding-bottom: 10px;
	}

	.price-3-size {	
		position: relative;
		padding-top: 12px;
		text-align: justify;
		font-size: 16px;
		font-weight: bold;
		margin-left: 7px;
	}

}

@media only screen and (max-width: 1100px) {

	.container {
		max-width: 900px;
	}

	.toplabel {	
		font-size: 12px;
	}

	.select-1 {		
		font-size: 12px;
	}

	.dropdown-item{
		font-size: 12px;

	}

	.label-1 {		

		font-size: 12px;	
	}

	.toplabel-1 {	
		font-size: 11px;
	}

	.text-tr {    
		font-size: 13px;
	}

	.collapse-text {	
		font-size: 12px;
	}

	.nav-link {
		font-size: 14px;
	}

	.back-ad-1 {
		max-width: 310px;
		background: #efefef;
		float: left;
		max-height: 215px;
	}

	.back-ad-2 {	
		background: #f5e7da;
		float: right;
		max-height: 215px;
		max-width: 310px;
	}

	.img-slide-1 {
		max-width: 100%;
		max-height: 100%;
		padding-top: 30px;
	}

	.img-slide-2 {
		max-width: 100%;
		max-height: 100%;
		padding-top: 10px;
		padding-left: 10px;	
	}

	.font-slide {
		font-size: 20px;
		font-weight: bold;
		text-indent: 0em;
		line-height : 30px;
		padding-top: 30px;
	}

	.btn-slide {
		width: 130px;
		margin-top: 20px;
		background: #809124;
		font-size: 11px;
		height: 10px;
		padding-bottom: 30px;
		text-transform: none;
		font-weight: bold;	
	}

	.bg-btn {
		padding-top: 10px;
		background: #809124; 
		width: 160px;
		height: 40px;
		position: absolute; right: 355px; bottom: 26px;
		text-transform: none;
		font-weight: bold;
	}

	.slide {
		height: 236px;
	}

	.section-1 {
		padding-bottom: 20px;
		background: #fafafa;
	}

	.section-2 {
		padding-top: 50px;
		background: #f4f4f4;
		padding-bottom: 100px;
	}

	.display {
		display: none;
	}

	.price-div-1 {
		width: 200px;
	}

	.price-div-2 {
		margin-left: 15px;	
		width: 170px;
		padding-top: 2px;
	}

	.price-size {	
		font-size: 16px;
	}

	.price-div-3 {	
		margin-left: 30px;	
		width: 390px;	
	}

	.h7-card {
		margin-left: 0px;
		font-size: 16px;
		font-weight: bold;   
	}

	.h8-card {
		margin-left: 0px;
		padding-top: 10px;
		font-size: 18px;
		font-weight: bold;
		color: #809124;
	}

	span.h9-card{	
		position: relative;
		top: -10px;	
		color: #A9A9A9;
		font-size: 12px;
		display: inline;	
	}

	.h6-card {	
		font-size: 14px;
		font-weight: bold;
		padding-bottom: 10px;
	}

	.price-3-size {	
		position: relative;
		padding-top: 12px;
		text-align: justify;
		font-size: 16px;
		font-weight: bold;
		margin-left: 7px;
	}
}

@media only screen and (max-width: 950px) {

	.container {
		max-width: 750px;
	}

	.toplabel {	
		font-size: 10px;
	}

	.select-1 {		
		font-size: 10px;
	}

	.sign-in {
		padding-right: 2px;
		font-size: 11px;
	}

	.dropdown-item{
		font-size: 10px;
	}

	.label-1 {	
		font-size: 10px;	
	}

	.toplabel-1 {	
		font-size: 9px;
	}

	.text-tr {    
		font-size: 10px;
	}

	.collapse-text {	
		font-size: 10px;
	}

	.nav-link {
		font-size: 12px;
	}

	form.example input[type=text] {
		font-size: 10px;
		width: 40%;
	}

	form.example select{	
		font-size: 10px;
		width: 45%;	
	}


	form.example button {
		float: left;
		width: 15%;
		padding: 5px;
		padding-top: 8px;
		padding-bottom: 8px;
		background: #809124;
		color: white;
		font-size: 12px;
		border: 1px solid #E6E6FA;
		border-left: none; /* Prevent double borders */
		cursor: pointer;
	}

	.back-ad-1 {
		max-width: 260px;
		background: #efefef;
		float: left;
		max-height: 180px;
	}

	.back-ad-2 {	
		background: #f5e7da;
		float: right;
		max-height: 180px;
		max-width: 260px;
	}

	.img-slide-1 {
		max-width: 100%;
		max-height: 100%;
		padding-top: 25px;
	}

	.img-slide-2 {
		max-width: 100%;
		max-height: 100%;
		padding-top: 10px;
		padding-left: 10px;	
	}

	.font-slide {
		font-size: 18px;
		font-weight: bold;
		text-indent: 0em;
		line-height : 30px;
		padding-top: 30px;
	}

	.btn-slide {
		width: 110px;
		height: 30px;
		padding: 0;
		margin-top: 10px;
		background: #809124;
		font-size: 12px;
		text-align: center;		
		padding-top: 0px;	
		text-transform: none;
		font-weight: bold;	
	}

	.bg-btn {
		padding-top: 7px;
		background: #809124; 
		width: 130px;
		height: 30px;
		font-size: 11px;
		position: absolute; right: 297px; bottom: 20px;
		text-transform: none;
		font-weight: bold;
	}

	.slide {
		height: 196px;
	}

	.part-text {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 12px;	
	}

	.collapse-text-1 {
		font-size: 11px;	
	}

	.text-tel {
		font-size: 12px;
		color: white;
	}

	.text-tel:hover {
		font-size: 12px;
		color: white;
	}

	.hide-1 {
		display: none;
	}

	.hide-2 {
		display: inline-block;
	}

	.hp-card-size {
		margin-left: 40px;
		width: 620px;
		height: 450px;	
		padding-top: 90px;
		background: #fff;
		text-align: center;
	}

	.price-div-1 {
		width: 370px;
	}

	.price-div-2 {
		margin-left: 35px;	
		width: 280px;
		padding-top: 2px;
	}

	.price-size {	
		font-size: 16px;
	}

	.price-div-3 {	
		margin-left: 30px;	
		width: 690px;	
	}
	.h7-card {	
		padding-left: 70px;
		font-size: 22px;
		font-weight: bold;   
	}

	.h8-card {
		padding-top: 10px;
		font-size: 24px;
		font-weight: bold;
		color: #809124;
	}

	span.h9-card{	
		position: relative;
		top: -10px;	
		color: #A9A9A9;
		font-size: 15px;
		display: inline;	
	}

	.h6-card {	
		font-size: 16px;
		font-weight: bold;
		padding-bottom: 10px;
	}

	.price-3-size {	
		position: relative;
		padding-top: 12px;
		text-align: justify;
		font-size: 16px;
		font-weight: bold;
		margin-left: 7px;
	}

	.description-1 {
		font-family: Arial, black, sans-serif;
		margin-top: 10px;
		margin-left: 15px;
		margin-right: 15px;	
		max-width: 690px;	
		background: #f4f4f4;
		padding-left: 20px;
		font-size: 14px;
		color: black;
		padding-top: 5px;
		padding-bottom: 5px;	
	}

	.tab-back {
		background: #f4f4f4;
		color: black;
		font-size: 16px;
	}
}

@media only screen and (max-width: 767px) {

	.container {
		max-width: 650px;
	}


	.toplabel {	
		font-size: 12px;

	}

	.select-1 {		
		font-size: 12px;
	}

	.sign-in {
		padding-right: 0px;
		font-size: 12px;
	}

	.dropdown-item{
		font-size: 12px;

	}

	.label-1 {		
		font-size: 12px;	
	}

	.toplabel-1 {	
		font-size: 12px;
	}

	.text-tr {    
		font-size: 10px;
		padding: 0 0;
		margin: 0 auto;

	}

	.collapse-text {	
		font-size: 10px;
	}

	.nav-link {
		font-size: 10px;
	}

	.navbar {	
		height: 10px;
	}

	form.example input[type=text] {
		font-size: 12px;
		width: 40%;
		height: 40px;
	}

	form.example select{
		font-size: 12px;
		height: 40px;
		width: 40%;	
		padding: 0px;
	}

	form.example button {
		float: left;
		width: 15%;
		padding: 5px;
		padding-top: 11px;
		padding-bottom: 11px;
		background: #809124;
		color: white;
		font-size: 12px;
		border: 1px solid #E6E6FA;
		border-left: none; /* Prevent double borders */
		cursor: pointer;
	}

	.img-slide-1 {
		max-width: 100%;
		max-height: 100%;
		padding-top: 25px;
	}

	.img-slide-2 {
		max-width: 100%;
		max-height: 100%;
		padding-top: 10px;
		padding-left: 10px;	
	}

	.back-ad-1 {
		max-width: 800px;
		background: #efefef;
		float: left;
		max-height: 300px;
	}

	.back-ad-2 {	
		background: #f5e7da;
		float: left;
		max-height: 300px;
		max-width: 800px;
	}

	.font-slide {
		font-size: 20px;
		font-weight: bold;
		text-indent: 0em;
		line-height : 30px;
		padding-top: 60px;
	}


	.btn-slide {
		width: 110px;
		height: 30px;
		padding: 0;
		margin-top: 20px;
		background: #809124;
		font-size: 12px;
		text-align: center;		
		padding-top: 0px;	
		text-transform: none;
		font-weight: bold;	
	}

	.bg-btn {
		padding-top: 7px;
		background: #809124; 
		width: 130px;
		height: 30px;
		font-size: 11px;
		position: absolute; right: 240px; bottom: 10px;
		text-transform: none;
		font-weight: bold;
	}

	.slide {
		height: 169px;
	}

	.part-text {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 12px;	
	}

	.collapse-text-1 {
		font-size: 11px;	
	}

	.text-tel {
		font-size: 12px;
		color: white;
	}

	.text-tel:hover {
		font-size: 12px;
		color: white;
	}

	.card {
		max-width: 400px;
		text-align: center;
		margin: 0 auto;	
		margin-bottom: 50px;
	}

	.hide-ad {
		display: none;
	}

	.hide-ad-1 {
		display: inline-flex;
	}

	.mar-col {
		margin-left: 200px;
	}

	.mar-col-1 {
		margin-left: 40px;
	}

	.mar-1 {		
		margin-left: 20px;
	}

	.mar-2 {
		margin-left: 520px;
	}

	.mar-r {
		margin-right: 5px;
		padding-left: 0px;
		margin-left: 0px;
		text-align: left;

	}

	.pad-l {
		padding-left: 5px;		
	}

	.hp-card-size {
		margin-left: 40px;
		width: 525px;
		height: 450px;	
		padding-top: 90px;
		background: #fff;
		text-align: center;
	}

	.price-div-1 {
		width: 320px;
	}

	.price-div-2 {
		margin-left: 25px;	
		width: 240px;
		padding-top: 2px;
	}

	.price-size {	
		font-size: 16px;
	}

	.price-div-3 {	
		margin-left: 30px;	
		width: 590px;	
	}

	.h7-card {	
		padding-left: 50px;
		font-size: 18px;
		font-weight: bold;   
	}

	.h8-card {
		padding-top: 10px;
		font-size: 22px;
		font-weight: bold;
		color: #809124;
	}

	span.h9-card{	
		position: relative;
		top: -10px;	
		color: #A9A9A9;
		font-size: 14px;
		display: inline;	
	}

	.h6-card {	
		font-size: 14px;
		font-weight: bold;
		padding-bottom: 10px;
	}

	.price-3-size {	
		position: relative;
		padding-top: 12px;
		text-align: justify;
		font-size: 16px;
		font-weight: bold;
		margin-left: 7px;
	}

	.description-1 {
		font-family: Arial, black, sans-serif;
		margin-top: 10px;
		margin-left: 15px;
		margin-right: 15px;	
		max-width: 690px;	
		background: #f4f4f4;
		padding-left: 20px;
		font-size: 14px;
		color: black;
		padding-top: 5px;
		padding-bottom: 5px;	
	}

	.tab-back {
		font-size: 18px;
	}
}

@media only screen and (max-width: 650px) {

	.container {
		max-width: 500px;
	}

	.slide {
		height: 129px;
	}


	.bg-btn {
		padding-top: 5px;
		background: #809124; 
		width: 130px;
		height: 25px;
		font-size: 11px;
		position: absolute; right: 150px; bottom: 0px;
		text-transform: none;
		font-weight: bold;
	}

	.part-text {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 10px;	
	}

	.collapse-text-1 {
		font-size: 10px;	
	}

	.text-tel {
		font-size: 8px;
		color: white;
	}

	.text-tel:hover {
		font-size: 8px;
		color: white;
	}

	.part {
		padding-top: 20px;
		width: 20%;
		float: left;	
	}

	.part-1 {
		padding-top: 50px;
		width: 20%;
		float: left;
	}

	.mar-col {
		margin-left: 100px;
	}

	.mar-col-1 {
		margin-left: 30px;
	}

	.mar-1 {		
		margin-left: 20px;
	}

	.mar-2 {
		margin-left: 350px;
	}

	.card {
		max-width: 350px;
		text-align: center;
		margin: 0 auto;	
		margin-bottom: 50px;
	}

	.hp-card-size {
		margin-left: 40px;
		width: 390px;
		height: 450px;	
		padding-top: 90px;
		background: #fff;
		text-align: center;
	}

	.price-div-1 {
		width: 220px;	
	}

	.price-div-2 {
		margin-left: 25px;	
		width: 190px;
		padding-top: 2px;
	}

	.price-size {	
		font-size: 16px;
	}

	.price-div-3 {	
		margin-left: 30px;	
		width: 440px;	
	}

	.h7-card {	
		padding-left: 10px;
		font-size: 16px;
		font-weight: bold;   
	}

	.h8-card {
		padding-top: 10px;
		font-size: 20px;
		font-weight: bold;
		color: #809124;
	}

	span.h9-card{	
		position: relative;
		top: -10px;	
		color: #A9A9A9;
		font-size: 12px;
		display: inline;	
	}

	.h6-card {	
		font-size: 13px;
		font-weight: bold;
		padding-bottom: 10px;
	}

	.price-3-size {	
		position: relative;
		padding-top: 12px;
		text-align: justify;
		font-size: 15px;
		font-weight: bold;
		margin-left: 7px;
	}

	.description-1 {
		font-family: Arial, black, sans-serif;
		margin-top: 10px;
		margin-left: 15px;
		margin-right: 15px;	
		max-width: 690px;	
		background: #f4f4f4;
		padding-left: 20px;
		font-size: 14px;
		color: black;
		padding-top: 5px;
		padding-bottom: 5px;	
	}

	.tab-back {
		font-size: 18px;
	}

	.hiden-1 {
		display: none;
	}

	.hiden-2 {
		display: inline;
	}

	.num-note {
		margin-top: 10px;
		margin-right: 300px;
	}

}

@media only screen and (max-width: 500px) {

	.container {
		max-width: 480px;
	}

	.slide {
		height: 125px;
	}

	.bg-btn {
		padding-top: 5px;
		background: #809124; 
		width: 130px;
		height: 25px;
		font-size: 11px;
		position: absolute; right: 137px; bottom: 0px;
		text-transform: none;
		font-weight: bold;
	}

	.back-ad-1 {
		max-width: 345px;
		background: #efefef;
		float: left;
		max-height: 300px;
	}

	.back-ad-2 {	
		background: #f5e7da;
		float: left;
		max-height: 300px;
		max-width: 345px;
	}

	.part-text {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 10px;	
	}

	.collapse-text-1 {
		font-size: 10px;	
	}

	.text-tel {
		font-size: 8px;
		color: white;
	}

	.text-tel:hover {
		font-size: 8px;
		color: white;
	}

	.part {
		padding-top: 20px;
		width: 20%;
		float: left;	
	}

	.part-1 {
		padding-top: 65px;
		width: 20%;
		float: left;
	}

	.mar-col {
		margin-left: 100px;
	}

	.mar-col-1 {
		margin-left: 25px;
	}

	.mar-1 {		
		margin-left: 20px;
	}

	.mar-2 {
		margin-left: 350px;
	}

	.collapse-text {
		font-size: 9px;
		text-align: left;
		margin-left: 0px
		padding-left: 0px;
	}

	.fa-angle-double-right {
		font-size: 8px;
	}

	.mr-3 {
		display: none;
	}

	.mar-r {
		margin-right: 5px;
		padding-left: 0px;
		margin-left: 0px;
		text-align: left;

	}

	.pad-l {
		padding-left: 5px;

	}

	.card {
		max-width: 300px;
		text-align: center;
		margin: 0 auto;	
		margin-bottom: 50px;
	}

	.hp-card-size {
		margin-left: 40px;
		width: 370px;
		height: 450px;	
		padding-top: 90px;
		background: #fff;
		text-align: center;
	}

	.price-div-1 {
		width: 220px;	
	}

	.price-div-2 {
		margin-left: 25px;	
		width: 170px;
		padding-top: 2px;
	}

	.price-size {	
		font-size: 16px;
	}

	.price-div-3 {	
		margin-left: 30px;	
		width: 420px;	
	}

	.h7-card {	
		padding-left: 10px;
		font-size: 16px;
		font-weight: bold;   
	}

	.h8-card {
		padding-top: 10px;
		font-size: 20px;
		font-weight: bold;
		color: #809124;
	}

	span.h9-card{	
		position: relative;
		top: -10px;	
		color: #A9A9A9;
		font-size: 12px;
		display: inline;	
	}

	.h6-card {	
		font-size: 13px;
		font-weight: bold;
		padding-bottom: 10px;
	}

	.price-3-size {	
		position: relative;
		padding-top: 12px;
		text-align: justify;
		font-size: 15px;
		font-weight: bold;
		margin-left: 7px;
	}

	.description-1 {
		font-family: Arial, black, sans-serif;
		margin-top: 10px;
		margin-left: 15px;
		margin-right: 15px;	
		max-width: 690px;	
		background: #f4f4f4;
		padding-left: 20px;
		font-size: 14px;
		color: black;
		padding-top: 5px;
		padding-bottom: 5px;	
	}

	.tab-back {
		font-size: 18px;
	}

	.num-note {
		margin-top: 10px;
		margin-right: 300px;
	}



}




